* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
}

.item-header {
  margin: 0 0 0.3em;
}

h1, h2, h3 {
  font-weight: 500;
}

.school__content {
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  font-size: 0;
  color: transparent;
  overflow: hidden;
  border: 0;
  background: #ff0;
  transform: translateY(-50%);
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}
